{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>


    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="login-wrapper">
    <div class="login-card">

        <h2 class="title">Password Reset</h2>
        <p class="subtitle">Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.</p>
        <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            
            <div class="input-group-custom">
                {{ form.email }}
                <label>Email Address</label>
            </div>
            <button type="submit" class="login-btn">Reset My Password</button>
            
        </form>
        <div class="options">
            <a href="{% url 'account_login' %}" class="login-btn" style="margin-right:20px ;">SIGN IN</a>
            <a href="{% url 'account_signup' %}" class="login-btn">SIGN UP</a>
        </div>
    </div>
</div>


<script src="{% static 'js/login.js' %}"></script>
</body>
</html>


