{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>


    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="login-wrapper">
    <div class="login-card">

        <h2 class="title">Change Password</h2>
        <p class="subtitle">Your password can’t be too similar to your other personal information.
            Your password must contain at least 8 characters.
            Your password can’t be a commonly used password.
            Your password can’t be entirely numeric.
        </p>
        <form method="post" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ form.errors }}
            <div class="input-group-custom password-group">
                <input type="password" name="oldpassword" id="oldpassword" required />
                <label>Current Password</label>
                <span class="toggle-password" onclick="togglePassword('oldpassword')">👁</span>
            </div>

            <div class="input-group-custom password-group">
                <input type="password" name="password1" id="password1" required />
                <label>New Password</label>
                <span class="toggle-password" onclick="togglePassword('password1')">👁</span>
            </div>

            <div class="input-group-custom password-group">
                <input type="password" name="password2" id="password2" required />
                <label>New Password (again)</label>
                <span class="toggle-password" onclick="togglePassword('password2')">👁</span>
            </div>
            <button type="submit" class="login-btn">Change Password</button>
            <div class="options" style="text-align:center; margin-top:15px;">
                <a href="{% url 'account_reset_password' %}" class="forgot">Forgot password?</a>
            </div>
        </form>
        <div class="options">
        </div>
    </div>
</div>


<script src="{% static 'js/login.js' %}"></script>
</body>
</html>


